.HeaderFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sub-header img{
    width: 11rem;
    padding: 0px 40px;
}

.Sub-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    color: white;
}

.Sub-navbar .login{
    margin-right: 2rem;
    text-decoration: none;
}

.Sub-navbar .login .loginColor{
    color: white;
    text-decoration: none;
}

.sellColor{
    color: white;
    text-decoration: none;
}